body {
    background-color:ccfff;
    color:darkslateblue;
    font-family: Verdana,Arial,sans-serif;
    font-size:15px;
    
    text-shadow: 3px 3px 10px lightblue;
    background-image: url(/maxresdefault.jpg);
        background-size: cover;
  
            
        
        }
.malzeme {
    color: firebrick
}
#nasil {
    color: crimson
}
.recipe {color: darkmagenta}
img { 
  margin-left : auto;
    margin-right: auto
    display: block;
    
}
.yazi{
    width: 900px;
   margin: auto;
    text-align: justify;
 
    
}